#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
        	compatible = "zmk,keymap";
		default_layer {
			bindings = <
				&kp Z &kp Q &kp W &kp E &kp R &kp T		&kp Y &kp U &kp I &kp O &kp P &kp LEFT_BRACKET
				&kp X &kp A &kp S &kp D &kp F &kp G		&kp H &kp J &kp K &kp L &kp SEMICOLON &kp APOSTROPHE
							&kp C &kp V		&kp N &kp M
			>;
		};
	};
};
